#!/bin/bash
#
# -*- mode: bash -*-
#
# Provides environment for local development.  You normally
# don't execute this or source it directly; use direnv to set this up
#
# Environment variables exported by this script
#
# PATH         Allows ./bin to be added to path
# BUILD_FIRST  Whether to build before running
# ENG_ENABLED_RUNTIMES   Names of the enabled runtimes
#
# If .NET is enabled:
#   NUGET_SOURCE_NAME
#   NUGET_SOURCE_URL
#   NUGET_UPLOAD_URL
#
# If Python is enabled:
#   VIRTUAL_ENV

# .NET Configuration
NUGET_SOURCE_URL=https://nuget.pkg.github.com/carbonfrost/index.json
NUGET_UPLOAD_URL=https://nuget.pkg.github.com/carbonfrost/
NUGET_SOURCE_NAME=Carbonfrost

# Python Configuration
VIRTUAL_ENV_NAME=venv


project_dir=$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)

export PATH="$project_dir/bin:$PATH"
export BUILD_FIRST=1

enabled_runtimes=$(make -f Makefile eng/enabled)

if [[ "$enabled_runtimes" == *dotnet* ]]; then
  export NUGET_SOURCE_URL
  export NUGET_UPLOAD_URL
  export NUGET_SOURCE_NAME
fi

if [[ "$enabled_runtimes" == *python* ]]; then
  if [[ -n "$VIRTUAL_ENV_NAME" ]]; then
    if [[ -d "$VIRTUAL_ENV_NAME" ]]; then
      . "$VIRTUAL_ENV_NAME/bin/activate"
    else
      _YELLOW="\x1b[33m"
      _RESET="\x1b[39m"
      printf "${_YELLOW}warning${_RESET}: %s" "did not load virtualenv" >&2
    fi
  fi
fi

export ENG_ENABLED_RUNTIMES="$enabled_runtimes"
